/* Categories */
.category-button {
  background-color: #F8D6FF;
}

.category-button.active {
  background-color: #E878FF;
}

@media(hover:hover){
  .category-button:hover {
    background-color: #E878FF;
  }
}

/* Recipes */
.recipe-list {
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  padding-bottom: 10px;
}

.recipe-icon {
  flex-direction: column;
  width: 180px;
  min-height: 200px;
  max-height: 220px;
  margin: 10px 0 0 40px;
  text-align: right;
}

.recipe-icon img {
  height: 180px;
  object-fit: cover;
  border: 1px solid black;
}
