.divider {
  border-bottom: 1px solid black;
  position: absolute;
  width: calc(100% - (2 * 20px));
  left: 20px;
  right: calc(100vw - 20px);
  bottom: 0;
}

.vertical-divider {
  border-left: 1px solid black;
  margin: 5px 0 20px 0;
  max-width: 1px;
}

.title {
  margin: 0;
  font-size: 24px;
}

.subtitle {
  margin: 5px 0 0 20px;
  font-size: 18px;
  font-weight: bold;
}

.underline {
  margin: 5px 0 5px 20px;
  border-top: 1px solid black;
  max-width: 100px;
  width: auto;
}

.detail-list {
  margin: 0;
}

.detail-list li {
  font-size: 14px;
}

/* Header */
.detail-header {
  display: grid;
  grid-template-areas:
  "detailaside detailheadercontent";
  grid-template-columns: 120px auto;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  background: #EBEBEB;
}

.detail-header > .back-button {
  grid-area: detailaside;
  justify-self: center;
}

.detail-header > .header-content {
  grid-area: detailheadercontent;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.detail-header > .header-content > img {
  width: calc(100vw * 0.75);
  height: calc(100% - 35px);
  max-width: 450px;
  max-height: 300px;
  object-fit: contain;
}

/* BakingInfo */
.recipe-bakinginfo {
  grid-area: bakinginfo;
  position: relative;
  background: #F8D6FF;
}

/* Ingredients */
.recipe-ingredients {
  grid-area: ingredients;
  position: relative;
  background: #EBEBEB;
}

.ingredient-container {
  display: flex;
  flex-direction: row;
}

.detail-list.split {
  flex: 1;
  max-width: 300px;
}

.detail-list.split li {
  width: 100%;
}

.detail-list.split li span {
  display: inline-table;
  width: 33%;
}

.detail-list.split li span:last-child {
  display: inline-table;
  width: 67%;
}

/* Steps */
.recipe-steps {
  grid-area: steps;
  position: relative;
}

/* Tips */
.recipe-tips {
  grid-area: tips;
  background: #EBEBEB;
}