.progress-list-container {
  background-color: #EBEBEB;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 120px;
}

.progress-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.progress-back-button {
  margin: 10px auto 10px auto;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
}

.progress-back-button img {
  width: 100%;
  height: 100%;
}

.progress-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #E4FFD6;
  border-bottom: 1px solid black;
}

.progress-button.active {
  background-color: #F8D6FF;
}

.progress-button.completed {
  background-color: #A2FF78;
}

.progress-button:nth-child(1) {
  border-top: 1px solid black;
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.category-content {
  width: 100%;
}

.category-content-header {
  margin: 10px 0 10px 0;
  width: 100%;
}

.category-content-header h2 {
  margin: 0;
  padding: 10px;
  height: 40px;
}

.category-content-underline {
  border-bottom: 1px solid black;
  width: 100%;
}

.category-content-save-button {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 50px;
  background-color: #A2FF78;
  font-size: 12px;
  font-weight: bold;
}

.category-content-body {
  display: flex;
  flex-direction: column;
}

.category-content-body-add {
  display: flex;
  flex-direction: row;
  margin: 0 60px 0 60px;
}

.category-content-input {
  /* 
    This line is used to make the input as wide as the width
    instead of adding the width around the initial box.
  */
  box-sizing: border-box;
  margin: 0 10px 0 0;
  width: 100%;
  max-width: 300px;
  resize: none;
  font-family: 'Roboto', sans-serif;
}

.category-content-input-s {
  /* 
    This line is used to make the input as wide as the width
    instead of adding the width around the initial box.
  */
  box-sizing: border-box;
  margin: 0 10px 0 0;
  width: 100%;
  height: 100%;
  max-width: 90px;
  resize: none;
  font-family: 'Roboto', sans-serif;
}

.add-button {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  background-color: #F8D6FF;
  font-weight: bold;
  border: 1px solid black;
}

.category-content-body-list {
  margin: 10px 0 0 10px;
  padding: 0;
  width: calc(100% - 20px);
  max-width: 450px;
}

.category-content-body-list > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  background-color: #F8D6FF;
}

.category-content-body-list > li:nth-child(even) {
  background-color: #FFFFFF;
}

.order-button-container {
  display: flex;
  flex-direction: column;
  margin: 5px 10px 5px 10px;
}

.order-button, .delete-button {
  height: auto;
  width: auto;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
}

.delete-button {
  margin-left: auto;
  margin-right: 5px;
}

.order-button > img, .delete-button > img {
  height: 100%;
  width: 100%;
}

.order-button.down > img {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}