hmtl, body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#root > * {
  height: 100vh;
}

body h1, h2 {
  font-family: 'Roboto Slab', serif;
}

/* Pages */
.summarypage {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-areas: "aside content";
}

.detailpage {
  display: grid;
  grid-template-areas: 
  "detailheader"
  "bakinginfo"
  "ingredients"
  "steps"
  "tips";
}

/* Grid  */
.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBEBEB;
}

.content {
  grid-area: content;
  display: flex;
}

/* Button */
.button {
  display: flex;
  text-decoration: none;
  color: black;
  transition: transform .2s;
}

.aside > .button {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  text-align: center;
}

.aside > .button.active {
  font-weight: bold;
  cursor: pointer;
}

.back-button {
  margin-top: 5px;
  width: 60px;
  height: 60px;
}

.back-button img {
  display: block;
  margin: auto;
  width: 60px;
  height: 60px;
}

@media(hover: hover) {
  .aside > .button:hover {
    font-weight: bold;
    cursor: pointer;
  }

  .button:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
  }

  .back-button img:hover {
    content:url("/images/back-button-hover-transparent.png");
    cursor: pointer;
  }
}
