/* Entity */
.entity-list {
  padding-top:60px;
}

.entity-button {
  background-color: #E4FFD6;
}

.entity-button.active {
  background-color: #A2FF78;
}

@media(hover:hover){
  .entity-button:hover {
    background-color: #A2FF78;
  }
}

/* Itemlist */
.item-list {
  flex-direction: column;
}

.itemlist-header {
  margin: 0;
  padding: 20px 10px 10px 10px;
  height: 40px;
}

.itemlist-underline {
  border-bottom: 1px solid black;
}

.itemlist-new-button {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 50px;
  background-color: #A2FF78;
  font-size: 12px;
  font-weight: bold;
}

.itemlist-content {
  display: flex;
  flex-direction: column;
}

.itemlist-content a:nth-child(odd) {
  background-color: #F8D6FF;
}

.itemlist-item {
  display:flex;
  align-items: center;
  height: 25px;
  font-size: 14px;
}

.itemlist-num {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  font-weight: bold;
}